In [47]:
import os
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func
from sqlalchemy import create_engine, inspect
import requests
from flask import Flask, jsonify, render_template, redirect, make_response, json
import sys
import sqlalchemy.dialects.postgresql
from flask_sqlalchemy import SQLAlchemy
import base64

In [48]:
pw = base64.b64decode(b'a2VubndvcnQ=').decode("utf-8")
db_url = F"postgres://postgres:{pw}@localhost/mediabias"
engine = create_engine(db_url)

In [49]:
session = Session(engine)

In [50]:
results = engine.execute("Select * FROM test_table").fetchall()
results_json = list()
d1_ls = list()
d2_ls = list()
for r in results:
    r_dict = {}
    r_dict['site'] = r[0]
    r_dict['count'] = r[1]
    r_dict['nominate_dim1'] = float(r[2])
    r_dict['nominate_dim2'] = float(r[3])
    d1_ls.append(float(r[2]))
    d2_ls.append(float(r[3]))
    results_json.append(r_dict)

In [57]:
d1_avg = round(sum(d1_ls)/len(d1_ls),3)
d2_avg = round(sum(d2_ls)/len(d2_ls),3)
print(F"({d1_avg}, {d2_avg})")

(0.012, -0.064)

In [51]:
import json
with open('testtable.json', 'w', encoding='utf-8') as f:
    json.dump(results_json, f, ensure_ascii=False, indent=4)

In [37]:
import pandas as pd
df = pd.DataFrame(results,columns=["Site","Count","nominate_dim1","nominate_dim2"])
df = df.astype({'nominate_dim1':'float32','nominate_dim2':'float32'})
df.dtypes

Site              object
Count              int64
nominate_dim1    float32
nominate_dim2    float32
dtype: object

In [60]:
results = engine.execute("Select domain_name, nominate_dim1, nominate_dim2 FROM analysis_table WHERE domain_name = 'www.nytimes.com'").fetchall()

In [72]:
df = pd.DataFrame(results, columns=["site","dim1","dim2"])
df = df.astype({"dim1":"float32","dim2":"float32"})
df

                 site   dim1   dim2
0     www.nytimes.com -0.614 -0.204
1     www.nytimes.com -0.322 -0.016
2     www.nytimes.com -0.361 -0.138
3     www.nytimes.com -0.454 -0.072
4     www.nytimes.com -0.352 -0.330
...               ...    ...    ...
9068  www.nytimes.com -0.547 -0.338
9069  www.nytimes.com -0.527 -0.373
9070  www.nytimes.com -0.318  0.101
9071  www.nytimes.com -0.430 -0.073
9072  www.nytimes.com -0.682 -0.587

[9073 rows x 3 columns]

In [80]:
df.plot.scatter(x="dim1",y="dim2", xlim=(-1,1), ylim=(-1,1), c=(0,0,1,0.05))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

'c' argument looks like a single numeric RGB or RGBA sequence, which should be avoided as value-mapping will have precedence in case its length matches with 'x' & 'y'.  Please use a 2-D array with a single row if you really want to specify the same RGB or RGBA value for all points.

In [85]:
results2 = engine.execute("Select domain_name, nominate_dim1, nominate_dim2 FROM analysis_table WHERE domain_name = 'www.foxnews.com'").fetchall()
df2 = pd.DataFrame(results2, columns=["site","dim1","dim2"])
df2 = df2.astype({"dim1":"float32","dim2":"float32"})

In [86]:
df2.plot.scatter(x="dim1",y="dim2", xlim=(-1,1), ylim=(-1,1), c=(1,0,0,0.05))

Canvas(toolbar=Toolbar(toolitems=[('Home', 'Reset original view', 'home', 'home'), ('Back', 'Back to previous …

'c' argument looks like a single numeric RGB or RGBA sequence, which should be avoided as value-mapping will have precedence in case its length matches with 'x' & 'y'.  Please use a 2-D array with a single row if you really want to specify the same RGB or RGBA value for all points.

In [99]:
results3 = engine.execute("Select * from p_test2").fetchall()

In [100]:
df3 = pd.DataFrame(results3, columns=["rep","site","count","dim1","dim2", "name2", "total"])
df3 = df3.astype({"dim1":"float32","dim2":"float32"})

In [102]:
df3

,rep,site,count,dim1,dim2,name2,total
0,"ABRAHAM, Ralph",www.foxnews.com,6,0.540,0.252,"ABRAHAM, Ralph",6
1,"ADAMS, Alma",www.nytimes.com,17,-0.466,0.012,"ADAMS, Alma",17
2,"ADERHOLT, Robert",www.foxnews.com,1,0.367,0.595,"ADERHOLT, Robert",1
3,"AGUILAR, Peter Rey",www.nytimes.com,2,-0.291,0.135,"AGUILAR, Peter Rey",2
4,"ALEXANDER, Lamar",www.nytimes.com,6,0.324,-0.175,"ALEXANDER, Lamar",8
...,...,...,...,...,...,...,...
617,"YOHO, Ted",www.nytimes.com,5,0.704,-0.361,"YOHO, Ted",6
618,"YOHO, Ted",www.foxnews.com,1,0.704,-0.361,"YOHO, Ted",6
619,"YOUNG, Todd",www.foxnews.com,2,0.476,-0.027,"YOUNG, Todd",2
620,"ZELDIN, Lee M",www.nytimes.com,1,0.387,-0.131,"ZELDIN, Lee M",6
621,"ZELDIN, Lee M",www.foxnews.com,5,0.387,-0.131,"ZELDIN, Lee M",6