In [172]:
import datetime
import pandas as pd
import json

json_data = '../mediabias_main/congresstweets/data/'
day = '2017-06-21'
day_dt = datetime.datetime.strptime(day, '%Y-%m-%d')
break_time = datetime.datetime(2019, 6, 22)

frames = []
headers = ['id', 'screen_name', 'time', 'link', 'text', 'source', 'user_id']
merged_csv = [headers]
merged_json= []
keys = set()
while day_dt < break_time:
    try:
        day_str = day_dt.strftime('%Y-%m-%d')
        day_ref = json_data+day_str+'.json'
        #day_df = pd.read_json(day_ref)
        
        with open(day_ref,encoding='utf-8') as ref:
            day_json = json.load(ref)
            #json_day_ls = [list(tweet.values()) for tweet in day_json if len(list(tweet.values())[5]) < 255]
            #json_day_ls = [tweet.values() for tweet in day_json if len(list(tweet.values())[5]) < 255]
            #keys = keys | {tuple(tweet.keys()) for tweet in day_json}
            csv_day_ls =[]
            for tweet in day_json:
                tweet_ls = []
                for col in headers:
                        tweet_ls.append(tweet[col])
                csv_day_ls.append(tweet_ls)
            #for tweet in day_json:
            #    tweet['text']
            #merged_json += day_json
            merged_csv += csv_day_ls
        #frames.append(day_df)
        day_dt += datetime.timedelta(days=1)
    except Exception as e:
        print(e)
        day_dt += datetime.timedelta(days=1)
        pass

#This filter DOES NOT WORK INSIDE THE FUNCTION ABOVE idk why...
merged_csv = [row for row in merged_csv if row[4].find('\n') == -1 and row[4].find('\r') == -1]

for row in merged_csv:
    row[4] = row[4].replace('"','')
    row[4] = row[4].replace("'", "")

[Errno 2] No such file or directory: '../mediabias_main/congresstweets/data/2017-09-01.json'
[Errno 2] No such file or directory: '../mediabias_main/congresstweets/data/2017-09-02.json'
[Errno 2] No such file or directory: '../mediabias_main/congresstweets/data/2017-09-03.json'
[Errno 2] No such file or directory: '../mediabias_main/congresstweets/data/2017-09-04.json'
'id'

In [169]:
#keys ={('id', 'screen_name', 'time', 'link', 'text', 'source', 'user_id'),
# ('id', 'screen_name', 'user_id', 'time', 'link', 'text', 'source')}

In [170]:
len(merged_json)

#merged_json[4939][4]
#"lemon".find('\n')
#merged_json[:5]#[1226105]#[4].find('\n')
merged_csv[5630][4]#.replace('"','')

'Estoy de acuerdo, Rauner debe firmar: Empresarios urgen al Gobernador firmar a Trust Act @HoyChicago https://t.co/aIVYU0FdEM #twill'

{'id': '877527850420776961', 'screen_name': 'RepErikPaulsen', 'time': '2017-06-21T10:05:17-04:00', 'link': 'https://www.twitter.com/CRN_Supplements/statuses/877509166285414401', 'text': 'RT @CRN_Supplements Thank you @RepErikPaulsen for speaking to the dietary supplement industry today! And thank you for your support of HR 1175! #DoH17 #HSAs https://t.co/oADXe2kFR6', 'source': 'Twitter Web Client', 'user_id': '17513304'}

TypeError: not all arguments converted during string formatting

In [173]:
#with open('../mediabias_main/data.json', 'w', encoding='utf-8') as f:
#    json.dump(merged_json, f, ensure_ascii=False, indent=4)

import csv
with open('../mediabias_main/data.csv', 'w', newline = '', encoding='utf8') as csvfile:
    spamwriter = csv.writer(csvfile)
    for row in merged_csv:
        spamwriter.writerow(row)

In [177]:
meta_json = '../mediabias_main/historical-users-filtered.json'
headers = ['name', 'chamber', 'type', 'party', 'accounts', 'id', 'state', 'prev_props']
merged_csv = []
with open(meta_json,encoding='utf-8') as ref:
    m_json = json.load(ref)
    csv_row =[]
    for mem in m_json:
        mem_ls = []
        for col in headers:
                try:
                    mem_ls.append(mem[col])
                except:
                    mem_ls.append(None)
        csv_row.append(mem_ls)
    merged_csv += csv_row

In [179]:
import csv
with open('../mediabias_main/meta.csv', 'w', newline = '', encoding='utf8') as csvfile:
    spamwriter = csv.writer(csvfile)
    for row in merged_csv:
        spamwriter.writerow(row)

In [182]:
merged_csv[36]

['House Committee on Foreign Affairs',
 'house',
 'committee',
 None,
 [{'id': '61206798',
   'screen_name': 'HouseForeign',
   'party': 'D',
   'account_type': 'office',
   'prev_names': ['HFACDemocrats', 'HouseForeign']},
  {'id': '75367781',
   'screen_name': 'HouseForeignGOP',
   'party': 'R',
   'account_type': 'office',
   'prev_names': ['HouseForeign']}],
 {'thomas_id': 'HSFA', 'house_committee_id': 'FA', 'tag': 'foreignaffairs'},
 None,
 None]

In [8]:
#Improves merge performance
external_df.reset_index(inplace=True)
url_extract.reset_index(inplace=True)

In [ ]:
user_df = external_df.merge(url_extract, on="id")

In [ ]:
user_df = external_df.join(url_extract, on="id")

In [183]:
meta_json = '../mediabias_main/historical-users-filtered.json'
meta_df = pd.read_json(meta_json)
mem_df = meta_df.loc[meta_df['type']=='member']
mem_df.head()

,name,chamber,type,party,accounts,id,state,prev_props
51,Don Young,house,member,R,"[{'id': '37007274', 'screen_name': 'repdonyoun...","{'bioguide': 'Y000033', 'govtrack': 400440}",AK,NaN
52,Bradley Byrne,house,member,R,"[{'id': '2253968388', 'screen_name': 'RepByrne...","{'bioguide': 'B001289', 'govtrack': 412601}",AL,NaN
53,Gary Palmer,house,member,R,"[{'id': '2861616083', 'screen_name': 'USRepGar...","{'bioguide': 'P000609', 'govtrack': 412608}",AL,NaN
54,Martha Roby,house,member,R,"[{'id': '224294785', 'screen_name': 'RepMartha...","{'bioguide': 'R000591', 'govtrack': 412394}",AL,NaN
55,Mike Rogers,house,member,R,"[{'id': '33977070', 'screen_name': 'RepMikeRog...","{'bioguide': 'R000575', 'govtrack': 400341}",AL,NaN

In [184]:
account_df = pd.DataFrame(columns=['account_id', 'name', 'screen_name'])
i = 0
for index, row in mem_df.iterrows():
    #print(row)
    for account in row.accounts:
        a_id = int(account['id'])
        name = row.loc['name']
        un = account['screen_name']
        account_df.loc[i] = [a_id, name, un]
        #print(a_id)
        #print(name)
        i += 1

In [188]:
account_df.to_csv('../mediabias_main/meta.csv', index=False)

In [187]:
account_df

      account_id                  name      screen_name
0       37007274             Don Young      repdonyoung
1     2559398984             Don Young       DonYoungAK
2     2253968388         Bradley Byrne         RepByrne
3       42481696         Bradley Byrne     BradleyByrne
4     2861616083           Gary Palmer  USRepGaryPalmer
...          ...                   ...              ...
1278   158890005  Shelley Moore Capito      CapitoforWV
1279   202206694         John Barrasso  SenJohnBarrasso
1280   499268312         John Barrasso   barrassoforwyo
1281   291756142             Mike Enzi      SenatorEnzi
1282  1848942470             Mike Enzi       EnziforWyo

[1283 rows x 3 columns]